#CalendarControlIFrame {
  display: none;
  left: 0px;
  position: absolute;
  top: 0px;
  height: 250px;
  width: 250px;
  z-index: 99;
}

#CalendarControl {
  position:absolute;
  background-color:#FFF;
 
  padding:0;
  display:none;
  z-index: 100;
}

#CalendarControl table {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 8pt;
  border-left: 1px solid #CAD1D7;
  border-right: 1px solid #CAD1D7;
  border-bottom: 1px solid #CAD1D7;
}

#CalendarControl th {
  font-weight: normal; background:none; border:none; padding:0px;text-align:center;
}

#CalendarControl th a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  padding: 1px;
}

#CalendarControl td {
  text-align: center; background-color: #3f99ed; padding:0px;
}

#CalendarControl .header {
  background-color: #3f99ed;
}

#CalendarControl .weekday {
  background-color: #d8e5f0;
  color: #336cad;
}

#CalendarControl .weekend {
  background-color: #9bb2c5;
  color: #FFF;
}

#CalendarControl .current {
  border: 1px solid #339;
  background-color: #6da9dc;
  color: #FFF;
}

#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current {
  display: block;
  text-decoration: none;
  border: 1px solid #FFF;
  width: 2em;
}

#CalendarControl .weekday:hover,
#CalendarControl .weekend:hover,
#CalendarControl .current:hover {
  color: #FFF;
  background-color: #6da9dc;
  border: 1px solid #999;
}

#CalendarControl .previous {
  text-align: left;
}

#CalendarControl .next {
  text-align: right;
}

#CalendarControl .previous,
#CalendarControl .next {
  padding: 1px 3px 1px 3px;
  font-size: 1.4em;
}

#CalendarControl .previous a,
#CalendarControl .next a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

#CalendarControl .title {
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

#CalendarControl .empty {
  background-color: #e7e7e7;
  border: 1px solid #FFF;
}