/********************************************************************/
/*
	*	Registration Form
*/
.pieregWrapper #pie_register ::-moz-selection { /* Code for Firefox */
    background: rgb(109, 109, 109);
    background: rgba(109, 109, 109, 0.8);
}

.pieregWrapper #pie_register ::selection {
    background: rgb(109, 109, 109);
    background: rgba(109, 109, 109, 0.8);
}
/*#pie_register_reg_form,*/ .piereg_container{
	background-color:rgb(255, 255, 255);
	background-color:rgba(255, 255, 255, 0.8);
	padding:10px;
}
#pie_register_reg_form .fieldset h2#piereg_pie_form_heading, #pie_regiser_form h1#piereg_pie_form_heading, .piereg_profile_cont #piereg_pie_form_heading{
	color:rgb(253, 122, 4);
}
#pie_register_reg_form .fieldset p#piereg_pie_form_desc{
	color:rgb(90, 90, 90);
}
.pieregWrapper #pie_register .fields label{
	color:rgb(90, 90, 90);
}

.pieregWrapper #pie_register .fields .input_fields,
.pieregWrapper #pie_register .fields select,
.pieregWrapper #pie_register .fields textarea,
.piereg_login_container .piereg_login_wrapper .piereg_loginform .input_fields,
.pieregWrapper #pie_register .fields .input_fields, .pieregWrapper #piereg_login .input_fields{
	border:2px solid rgb(214, 214, 214);
	background:rgb(255, 255, 255);
	color:rgb(90, 90, 90);
	border-radius:0px;
}

.pieregWrapper #pie_register .fields .address2 select,
.pieregWrapper #pie_register .fields .piereg_time .time_fields select{
	height:25px;
}

.pieregWrapper #pie_register .fields div#piereg_passwordStrength{
	border:2px solid rgb(214, 214, 214);
	color:rgb(0, 0, 0);
}
.pieregWrapper #pie_register .fields input[type="file"]{
	padding:0px;
}

.pieregWrapper #pie_register .fields,
.pieregWrapper #pie_register .fields p,
.pieregWrapper #pie_register .fields span
{color:rgb(90, 90, 90);}

.pieregWrapper #pie_register .fields button,
.pieregWrapper #pie_register .fields .button,
.pieregWrapper #pie_register .fields input[type="button"],
.pieregWrapper #pie_register .fields input[type="reset"],
.pieregWrapper #pie_register .fields input[type="submit"],
.piereg_container .piereg_login_wrapper .submit input[type="submit"],
.pieregWrapper input[type="submit"],
.pieregWrapper .pie_prev, .pieregWrapper .pie_next,
#piereg_login form#piereg_lostpasswordform p input[type="submit"]
{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4,0.9);
}



.pieregWrapper #pie_register .fields button:hover,
.pieregWrapper #pie_register .fields button:focus,
.pieregWrapper #pie_register .fields .button:hover,
.pieregWrapper #pie_register .fields .button:focus,
.pieregWrapper #pie_register .fields input[type="button"]:hover,
.pieregWrapper #pie_register .fields input[type="button"]:focus,
.pieregWrapper #pie_register .fields input[type="reset"]:hover,
.pieregWrapper #pie_register .fields input[type="reset"]:focus,
.pieregWrapper #pie_register .fields input[type="submit"]:hover,
.pieregWrapper #pie_register .fields input[type="submit"]:focus,
.piereg_container .piereg_login_wrapper .submit input[type="submit"]:hover,
.pieregWrapper input[type="submit"]:hover,
.pieregWrapper .pie_prev, .pieregWrapper .pie_next:hover,
#piereg_login form#piereg_lostpasswordform p input[type="submit"]:hover,
.piereg_container .piereg_login_wrapper .submit input[type="submit"]:focus,
.pieregWrapper input[type="submit"]:focus,
.pieregWrapper .pie_prev, .pieregWrapper .pie_next:focus,
#piereg_login form#piereg_lostpasswordform p input[type="submit"]:focus{
	background:rgb(253, 122, 4);
}

.pieregWrapper #pie_register .fields button:active,
.pieregWrapper #pie_register .fields .button:active,
.pieregWrapper #pie_register .fields input[type="button"]:active,
.pieregWrapper #pie_register .fields input[type="reset"]:active,
.pieregWrapper #pie_register .fields input[type="submit"]:active{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 0.9);
}
.pieregWrapper #pie_register a{color:rgb(253, 122, 4);color:rgba(253, 122, 4, 0.8);}
.pieregWrapper #pie_register a:hover,
.pieregWrapper #pie_register a:focus{color:rgb(253, 122, 4);}
.pieregWrapper #pie_register a:active{color:rgb(253, 122, 4);}
/* Input field */
.pieregWrapper #pie_register ::-webkit-file-upload-button {
    background:rgb(109, 109, 109);
	color:rgb(255, 255, 255);
	border:none;
	padding:3px;
}


/********************************************************************/
/*
	*	Login Form
*/
div.piereg_login_container ::-moz-selection { /* Code for Firefox */
    color: rgb(15, 3, 27);
    background: rgb(148, 148, 148);
}

div.piereg_login_container ::selection {
    color: rgb(15, 3, 27);
    background: rgb(148, 148, 148);
}
div.piereg_login_container{
	background-color:rgb(255, 255, 255);
	background-color:rgba(255, 255, 255, 0.8);
	padding-top:10px;
	padding-bottom:10px;
}
div.piereg_login_container .piereg_login_wrapper label{
	color:rgb(90, 90, 90);
}
div.piereg_login_container form div input.pr_math_captcha_input_field,
div.piereg_login_container form p .input{
	border:2px solid rgb(214, 214, 214);
	background:rgb(255, 255, 255);
	color:rgb(90, 90, 90);
	border-radius:0px;
}
div.piereg_login_container form p.forgetmenot{margin-top:10px;}

div.piereg_login_container form p input[type="submit"]{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 0.9);
}
div.piereg_login_container form p input[type="submit"]:hover,
div.piereg_login_container form p input[type="submit"]:focus{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 1.0);
}

div.piereg_login_container form p input[type="submit"]:active{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 0.9);
}
div.piereg_login_container #nav a{color:rgb(253, 122, 4);color:rgba(253, 122, 4, 0.8);}
div.piereg_login_container #nav a:hover,
div.piereg_login_container #nav a:focus{color:rgb(253, 122, 4);}
div.piereg_login_container #nav a:active{color:rgb(253, 122, 4);}


/********************************************************************/
/*
	*	Forgot Password Form
*/

div.pieregForgotPassword ::-moz-selection { /* Code for Firefox */
    color: rgb(15, 3, 27);
    background: rgb(148, 148, 148);
}

div.pieregForgotPassword ::selection {
    color: rgb(15, 3, 27);
    background: rgb(148, 148, 148);
}

div.pieregForgotPassword{
	background-color:rgb(255, 255, 255);
	background-color:rgba(255, 255, 255, 0.8);
	padding:10px;
}
#piereg_login form#piereg_lostpasswordform p label{color:rgb(90, 90, 90);}
div.pieregForgotPassword form div input.pr_math_captcha_input_field,
div.pieregForgotPassword form p .input{
	border:2px solid rgb(214, 214, 214);
	background:rgb(255, 255, 255);
	color:rgb(90, 90, 90);
	border-radius:0px;
}

#piereg_login form#piereg_lostpasswordform p input[type="submit"]{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 0.9);
}
#piereg_login form#piereg_lostpasswordform p input[type="submit"]:hover,
#piereg_login form#piereg_lostpasswordform p input[type="submit"]:focus{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 1.0);
}

#piereg_login form#piereg_lostpasswordform p input[type="submit"]:active{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 0.9);
}


/********************************************************************/
/*
	*	Forgot Password Form
*/

div.piereg_login_container form.piereg_resetpassform .field .input{
	border:2px solid rgb(214, 214, 214);
	background:rgb(255, 255, 255);
	color:rgb(90, 90, 90);
	border-radius:0px;
}

div.piereg_login_container form.piereg_resetpassform .pie_submit input[type="submit"]{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 0.9);
}
div.piereg_login_container form.piereg_resetpassform .pie_submit input[type="submit"]:hover,
div.piereg_login_container form.piereg_resetpassform .pie_submit input[type="submit"]:focus{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 1.0);
}
div.piereg_login_container form.piereg_resetpassform .pie_submit input[type="submit"]:active{
	background:rgb(253, 122, 4);
	background:rgba(253, 122, 4, 0.9);
}

div.piereg_login_container form.piereg_resetpassform .nav a,
div.piereg_login_container form.piereg_resetpassform .backtoblog a{color:rgb(253, 122, 4);color:rgba(253, 122, 4, 0.8);}
div.piereg_login_container form.piereg_resetpassform .nav a:hover,
div.piereg_login_container form.piereg_resetpassform .nav a:focus,
div.piereg_login_container form.piereg_resetpassform .backtoblog:hover,
div.piereg_login_container form.piereg_resetpassform .backtoblog:focus{color:rgb(253, 122, 4);}
div.piereg_login_container form.piereg_resetpassform .nav a:active,
div.piereg_login_container form.piereg_resetpassform .backtoblog a:active{color:rgb(253, 122, 4);}

/********************************************************************/
/*
	*	Profile Edit Form
*/

.pieregProfileWrapper.pieregWrapper {
	background-color:rgb(255, 255, 255);
	background-color:rgba(255, 255, 255, 0.8);
	padding:10px;
}
.pieregProfileWrapper.pieregWrapper ul#pie_register .fields h1#piereg_pie_form_heading{
	color:rgb(253, 122, 4);
}
/********************************************************************/
/*
	*	Renew AccountForm
*/
.pieregformWrapper.pieregWrapper .pieregister_renew_account h2.pr_renew_headding{
	color:rgb(253, 122, 4);
}

.pieregWrapper .piereg_profile_cont, .piereg_profile_cont, #pie_register.pie_profile .fields span, #pie_register.pie_profile .fields a{background-color:#FEFEFE;}
#pie_register.pie_profile .fields span, #pie_register.pie_profile .fields2 label, #pie_register.pie_profile .fields a{color:rgb(90, 90, 90); text-decoration:none}
#pie_register.pie_profile .fields a:hover{text-decoration:underline}
#pie_register.pie_profile .fields2{background:none !important}
.piereg-profile-logout-url a{color:rgb(90, 90, 90); border-bottom:none !important}
.piereg-profile-logout-url a:hover{text-decoration:underline; color:rgb(90, 90, 90)}

#pie_register.pie_profile tr:first-child .fields {border-top: 1px solid rgb(253, 122, 4);}
#pie_register.pie_profile .fields2{border: 1px solid rgb(253, 122, 4);}
#pie_register.pie_profile .fields {border: 1px solid rgb(253, 122, 4);}