/********************************************************************/
/*
	*	Registration Form
*/
.pieregWrapper #pie_register ::-moz-selection { /* Code for Firefox */
    background: rgb(97, 97, 63);
}

.pieregWrapper #pie_register ::selection {
    background: rgb(97, 97, 63);
}
/*#pie_register_reg_form,*/ .piereg_container{
	background-color:rgb(224, 218, 204);
	background-color:rgba(224, 218, 204,0.8);
	padding:10px;
}
#pie_register_reg_form .fieldset h2#piereg_pie_form_heading, #pie_regiser_form h1#piereg_pie_form_heading, .piereg_profile_cont #piereg_pie_form_heading{
	color:rgb(96, 96, 60);
}
#pie_register_reg_form .fieldset p#piereg_pie_form_desc{
	color:rgb(0, 0, 0);
}
.pieregWrapper #pie_register .fields label{
	color:rgb(0, 0, 0);
	margin-top: 5px;
}

.pieregWrapper #pie_register .fields .input_fields,
.pieregWrapper #pie_register .fields select,
.pieregWrapper #pie_register .fields textarea,
.piereg_login_container .piereg_login_wrapper .piereg_loginform .input_fields,
.pieregWrapper #pie_register .fields .input_fields, .pieregWrapper #piereg_login .input_fields{
	border:1px solid rgb(207, 204, 195);
	border:1px solid rgba(207, 204, 195,0.7);
	background:rgb(255, 255, 255);
	-moz-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	-webkit-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	-o-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	padding: 5px;
	
}
.pieregWrapper #pie_register .fields .address2 select,
.pieregWrapper #pie_register .fields .piereg_time .time_fields select{
	height:29px;
}
.pieregWrapper #pie_register li.fields .sectionBreak{
	border:1px solid rgb(97, 97, 63);
}

.pieregWrapper #pie_register .fields div#piereg_passwordStrength{
	border:2px solid rgb(207, 204, 195);
	border:2px solid rgba(207, 204, 195,0.7);
	color:rgb(0, 0, 0);
}
.pieregWrapper #pie_register .fields input[type="file"]{
	padding:0px;
}

.pieregWrapper #pie_register .fields,
.pieregWrapper #pie_register .fields p,
.pieregWrapper #pie_register .fields span
{color:rgb(0, 0, 0);}

.pieregWrapper #pie_register .fields button,
.pieregWrapper #pie_register .fields .button,
.pieregWrapper #pie_register .fields input[type="button"],
.pieregWrapper #pie_register .fields input[type="reset"],
.pieregWrapper #pie_register .fields input[type="submit"],
.piereg_container .piereg_login_wrapper .submit input[type="submit"],
.pieregWrapper input[type="submit"],
.pieregWrapper .pie_prev, .pieregWrapper .pie_next,
#piereg_login form#piereg_lostpasswordform p input[type="submit"]
{
	background:url('images/theme-6/btn.png');
	background-size:100% 100%;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}



.pieregWrapper #pie_register .fields button:hover,
.pieregWrapper #pie_register .fields button:focus,
.pieregWrapper #pie_register .fields .button:hover,
.pieregWrapper #pie_register .fields .button:focus,
.pieregWrapper #pie_register .fields input[type="button"]:hover,
.pieregWrapper #pie_register .fields input[type="button"]:focus,
.pieregWrapper #pie_register .fields input[type="reset"]:hover,
.pieregWrapper #pie_register .fields input[type="reset"]:focus,
.pieregWrapper #pie_register .fields input[type="submit"]:hover,
.pieregWrapper #pie_register .fields input[type="submit"]:focus,
.piereg_container .piereg_login_wrapper .submit input[type="submit"]:hover,
.pieregWrapper input[type="submit"]:hover,
.pieregWrapper .pie_prev, .pieregWrapper .pie_next:hover,
#piereg_login form#piereg_lostpasswordform p input[type="submit"]:hover,
.piereg_container .piereg_login_wrapper .submit input[type="submit"]:focus,
.pieregWrapper input[type="submit"]:focus,
.pieregWrapper .pie_prev, .pieregWrapper .pie_next:focus,
#piereg_login form#piereg_lostpasswordform p input[type="submit"]:focus{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.pieregWrapper #pie_register .fields button:active,
.pieregWrapper #pie_register .fields .button:active,
.pieregWrapper #pie_register .fields input[type="button"]:active,
.pieregWrapper #pie_register .fields input[type="reset"]:active,
.pieregWrapper #pie_register .fields input[type="submit"]:active{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.pieregWrapper #pie_register a{color:rgb(96, 96, 61);}
.pieregWrapper #pie_register a:hover,
.pieregWrapper #pie_register a:focus{color:rgb(149, 149, 110);}
.pieregWrapper #pie_register a:active{color:rgb(149, 149, 110);}
/* Input field */
.pieregWrapper #pie_register ::-webkit-file-upload-button {
    background:url('images/theme-6/btn.png');
	background-size:100% 100%;
	color:rgb(255, 255, 255);
	border:none;
	padding:5px;
}

/********************************************************************/
/*
	*	Login Form
*/
div.piereg_login_container ::-moz-selection { /* Code for Firefox */
    background: rgb(97, 97, 63);
}

div.piereg_login_container ::selection {
    background: rgb(97, 97, 63);
}
div.piereg_login_container{
	background-color:rgb(224, 218, 204);
	background-color:rgba(224, 218, 204, 0.8);
	padding-top:10px;
	padding-bottom:10px;
}
div.piereg_login_container .piereg_login_wrapper label{
	color:rgb(0, 0, 0);
}
div.piereg_login_container form div input.pr_math_captcha_input_field{
	margin-top:4px !important;
}
div.piereg_login_container form div input.pr_math_captcha_input_field,
div.piereg_login_container form p .input{
	border:1px solid rgb(207, 204, 195);
	border:1px solid rgba(207, 204, 195,0.7);
	background:rgb(255, 255, 255);
	-moz-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	-webkit-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	-o-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	padding: 5px;
}
div.piereg_login_container form p.forgetmenot{margin-top:10px;}

div.piereg_login_container form p input[type="submit"]{
	background:url('images/theme-6/btn.png');
	background-size:100% 100%;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.piereg_login_container form p input[type="submit"]:hover,
div.piereg_login_container form p input[type="submit"]:focus{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

div.piereg_login_container form p input[type="submit"]:active{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
div.piereg_login_container #nav a{color:rgb(96, 96, 61);}
div.piereg_login_container #nav a:hover,
div.piereg_login_container #nav a:focus{color:rgb(149, 149, 110);}
div.piereg_login_container #nav a:active{color:rgb(149, 149, 110);}


/********************************************************************/
/*
	*	Forgot Password Form
*/

div.pieregForgotPassword ::-moz-selection { /* Code for Firefox */
    background: rgb(97, 97, 63);
}

div.pieregForgotPassword ::selection {
    background: rgb(97, 97, 63);
}

div.pieregForgotPassword{
	background-color:rgb(224, 218, 204);
	background-color:rgba(224, 218, 204, 0.8);
	padding:10px;
}
#piereg_login form#piereg_lostpasswordform p label{color:rgb(0, 0, 0);}
div.pieregForgotPassword form div input.pr_math_captcha_input_field{
	margin-top:4px !important;
}
div.pieregForgotPassword form div input.pr_math_captcha_input_field,
div.pieregForgotPassword form p .input{
	border:1px solid rgb(207, 204, 195);
	border:1px solid rgba(207, 204, 195,0.7);
	background:rgb(255, 255, 255);
	-moz-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	-webkit-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	-o-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	padding: 5px;
}

#piereg_login form#piereg_lostpasswordform p input[type="submit"]{
	background:url('images/theme-6/btn.png');
	background-size:100% 100%;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
#piereg_login form#piereg_lostpasswordform p input[type="submit"]:hover,
#piereg_login form#piereg_lostpasswordform p input[type="submit"]:focus{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#piereg_login form#piereg_lostpasswordform p input[type="submit"]:active{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


/********************************************************************/
/*
	*	Forgot Password Form
*/

div.piereg_login_container form.piereg_resetpassform .field .input{
	border:1px solid rgb(207, 204, 195);
	border:1px solid rgba(207, 204, 195,0.7);
	background:rgb(255, 255, 255);
	-moz-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	-webkit-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	-o-box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	box-shadow: 0 -8px 10px rgb(226, 226, 226) inset;
	padding: 5px;
}

div.piereg_login_container form.piereg_resetpassform .pie_submit input[type="submit"]{
	background:url('images/theme-6/btn.png');
	background-size:100% 100%;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.piereg_login_container form.piereg_resetpassform .pie_submit input[type="submit"]:hover,
div.piereg_login_container form.piereg_resetpassform .pie_submit input[type="submit"]:focus{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
div.piereg_login_container form.piereg_resetpassform .pie_submit input[type="submit"]:active{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/*
	*	Reset Password
*/

div.piereg_login_container form.piereg_resetpassform .nav a,
div.piereg_login_container form.piereg_resetpassform .backtoblog a{color:rgb(96, 96, 61);}
div.piereg_login_container form.piereg_resetpassform .nav a:hover,
div.piereg_login_container form.piereg_resetpassform .nav a:focus,
div.piereg_login_container form.piereg_resetpassform .backtoblog:hover,
div.piereg_login_container form.piereg_resetpassform .backtoblog:focus{color:rgb(149, 149, 110);}
div.piereg_login_container form.piereg_resetpassform .nav a:active,
div.piereg_login_container form.piereg_resetpassform .backtoblog a:active{color:rgb(149, 149, 110);}
/********************************************************************/
/*
	*	Profile Edit Form
*/

.pieregProfileWrapper.pieregWrapper {
	background-color:rgb(224, 218, 204);
	background-color:rgba(224, 218, 204,0.8);
	padding:10px;
}
.pieregProfileWrapper.pieregWrapper ul#pie_register .fields h1#piereg_pie_form_heading{
	color:rgb(96, 96, 60);
}
/********************************************************************/
/*
	*	Renew AccountForm
*/
.pieregformWrapper.pieregWrapper .pieregister_renew_account h2.pr_renew_headding{
	color:rgb(96, 96, 60);
}

.pieregWrapper .piereg_profile_cont, .piereg_profile_cont, #pie_register.pie_profile .fields span, #pie_register.pie_profile .fields a{background-color:#E5E0D5;}
#pie_register.pie_profile .fields span, #pie_register.pie_profile .fields2 label, #pie_register.pie_profile .fields a{color:#000; text-decoration:none}
#pie_register.pie_profile .fields a:hover{text-decoration:underline}
#pie_register.pie_profile .fields2{background:none !important}
.piereg-profile-logout-url a{color:#000; border-bottom:none !important}
.piereg-profile-logout-url a:hover{text-decoration:underline; color:#000}

.pie_profile#pie_register .fields{border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.pie_profile#pie_register .fields2{border-bottom:1px solid #ccc;border-right:1px solid #ccc; border-left:1px solid #ccc;}
#pie_register.pie_profile tr:first-child .fields {border-top: 1px solid #ccc;}
.piereg_ps_user_desc_top ul li{color:#252525}

#pie_register.pie_profile tr:first-child .fields {border-top: 1px solid rgb(96, 96, 60);}
#pie_register.pie_profile .fields2{border: 1px solid rgb(96, 96, 60);}
#pie_register.pie_profile .fields {border: 1px solid rgb(96, 96, 60);}